:host {
  padding-bottom: 20px;
  display: block;
  nav.pagination-container {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
  .limit {
    width: 100px;
  }
}
